{% extends "adminlte/base.html" %}
{% block content %}

<style>
        .hide{
                display:none;
        }
</style>

    <section class="content-header">
      <h1>
        Deployment update notice

	<form   method="get"     action="/admin/contentselblog">
	     <div style=width:400px class="input-group input-group-sm">
	
                <input type="text" class="form-control" name=content>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-info btn-flat">Go!</button>
			<button class="btn btn-success submit" onclick="javascript:window.location.href='/admin/addblog/'">添加</button>
                    </span>
	</form>
              </div>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">信息发布</a></li>
        <li class="active">息发布更新</li>
      </ol>
    </section>
<br>
    <!-- Main content -->
        <!-- /.col -->
{% csrf_token %}
          <div class="nav-tabs-custom">
            <div class="tab-content">
              <div class="active tab-pane" id="activity">
                <!-- Post -->


{% for list in   LIST %}
                <div class="post">
                  <div class="user-block">
                    <img class="img-circle img-bordered-sm" src="dist/img/user1-128x128.jpg" alt="user image">
                        <span class="username">
                          <a href="#">{{list.title}}</a>
                          <a href="#" class="pull-right btn-box-tool" onclick="javascript:window.location.href='/admin/delblog/?del_id={{list.id}}&username={{list.username}}'"><i class="fa fa-times"></i></a>
                        </span>
                    <span class="description"><a>{{list.username}}</a> - {{list.nowtime}}</span>
                  </div>
        {% autoescape off %}
                <tr><td></td><td><pre>{{list.content}}</pre></td></tr>
        {% endautoescape %}
                  <ul class="list-inline">
                    <li><a onclick="javascript:window.location.href='/admin/contentblog/?id={{list.id}}&username={{list.username}}'" style=cursor:pointer class="link-black text-sm"><i class="fa fa-share margin-r-5"></i> 编辑</a></li>
                    <li><a href="#" class="link-black text-sm"><i class="fa fa-thumbs-o-up margin-r-5"></i> Like</a>
                    </li>
                    <li class="pull-right">
                {% for k,v in  COUNT.items%}
                {%ifequal k list.id%}
                      <a  class="liuyan link-black text-sm" id=liuyan ><i class="fa fa-comments-o margin-r-5"></i> 消息({{v}})</a></li>
                {%endifequal%}
                {%endfor%}
                  </ul>
		<table id=hide class=hide>
                <tr>
                <td >

                {% for mlist in  message_list %}
                        {% ifequal  mlist.blogid  list.id %}
                                <tr>
                                <td></td>
                                <td><small><a>{{mlist.username}}</a>:    {{mlist.content}}</small>
				<span class="label label-danger" onclick="javascript:window.location.href='/admin/delping/?del_id={{mlist.id}}&username={{list.username}}'" style='cursor:pointer'>delete</span>
                                </tr>
                        {% endifequal %}
                {% endfor %}
                </td>
                </tr>
		<tr id='tab{{forloop.counter}}'><td></td></tr>
		</table>
		<br>
 		 <form class="form-horizontal">
			{% csrf_token %}
                    <div class="form-group margin-bottom-none">
                      <div class="col-sm-9">
                        <input class="form-control input-sm" id=show{{forloop.counter}} name=content placeholder="Response">
                      </div>
                      <div class="col-sm-3">
                        <button type="button" name=listid id=button{{forloop.counter}}  class="btn btn-danger pull-right btn-block btn-sm" onclick="comment('{{forloop.counter}},{{list.id}},{{username}}')">Send</button>
                      </div>
                    </div>
                  </form>

<br>
<br>
<br>
                </div>
 {% endfor %}
                <!-- /.post -->

                <!-- Post -->
                <!-- /.post -->
              </div>
              <!-- /.tab-pane -->
          </div>
          <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
      <!-- /.row -->

<!-- ./wrapper -->

<!-- jQuery 2.2.3 -->
<!-- Bootstrap 3.3.6 -->
<script src="bootstrap/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="plugins/fastclick/fastclick.js"></script>
<!-- AdminLTE App -->
<!-- AdminLTE for demo purposes -->
<script src="dist/js/demo.js"></script>

<script src="//www.w3school.com.cn/jquery/jquery.js"></script>
<script type="text/javascript">

                $('.liuyan').click(function(){
                        if($(this).parents().children('#hide').css("display")=="none")
                        { 
                                $(this).parents().children('#hide').removeClass('hide');
                        } 
                        else
                        { 
                                $(this).parents().children('#hide').addClass('hide');
                        } 
                        
                })


        var comment=function(item){
                var id=item.replace(/(.*),(.*),(.*)/,'$1')
                var listid=item.replace(/(.*),(.*),(.*)/,'$2')
                var username=item.replace(/(.*),(.*),(.*)/,'$3')
                var context=$("#show"+id).val()
                var liuyan = $('#liuyan').text().replace(/消息\((.*)\)/,'$1')
                var liuyan = parseInt(liuyan)
                $.ajax({
                        url:'/admin/message/',
                        data:{'content':context,'_':new Date().getTime(),'listid':listid,'csrfmiddlewaretoken':$('input[name=\'csrfmiddlewaretoken\']').val()},
                        type:'POST',
                        async:false,
                        success:function(data){
                        $('#liuyan').html('<a href="#" class="link-black text-sm" id=liuyan><i class="fa fa-comments-o margin-r-5"></i> 消息('+(liuyan+1)+')</a></li>')
                        $('#tab'+id).append('<tr><td></td><td><small><a>'+username+'</a>: '+context+'</small><span class="label label-danger" style=cursor:pointer>delete</span></td><td></td></tr>');
                        },
                        error:function(e,m,t){
                        }
                
                
                })

        }
</script>
{% endblock %}
