
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  	<link data-turbolinks-track="true" href="application-b9abcf044a0bc3e705568d103eddd00e.css" media="all" rel="stylesheet" />

</head>


<style>
.con {
        height:30px;
        background:#dd4b39;
        border-color: #d73925;
}
.change  {
    position: fixed;
    background: rgba(0, 0, 0, 0.58);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display:none;
}

.change > form {
    background: white;
    margin: 45px auto;
    width: 580px;
    padding: 30px;
    border-radius: 3px;
    box-shadow: 0 0 53px rgba(0, 0, 0, 0.15);
}
</style>


<body id="wizard">
	
          

<div class="content-wrapper">
	<div class="header">
		<div class="sidebar-toggler visible-xs">
			<i class="ion-navicon"></i>
		</div>

		<div class="steps clearfix">
			<div class="step active">
				搜   索	
				<span></span>
			</div>
			<div class="step">
				主机列表	
				<span></span>
			</div>
			<div class="step">
				基础信息	
				<span></span>
			</div>
			<div class="step">
				历史记录	
				<span></span>
			</div>

			<div class="step">
				域名列表
				<span></span>
			</div>
		</div>
	</div>

	<section class="form-wizard">

		<form id="new-customer" method="get" action="apacheblur" role="form">
			<div class="step active animated fadeInRightStep">
				<div >
				    <label></label>
				    <input type="text" name=content class="form-control" name="customer[first_name]" />
			  	</div>
			  	<div class="form-group form-actions">
		      		<button type="submit" class="btn btn-default" data-step="2">
		      			<span>模糊查询</span>
		      		</button>
			  	</div>
			</div>



<!--第二页-->
			<div class="step">


  <div >
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-body">
              <table  id="example1" class="table table-bordered table-striped">
               <thead>
                <tr>
                  <th>GROUP</th>
                  <th>IP</th>
                  <th>region</th>
                  <th>测试主机</th>
                  <th>操作</th>
                </tr>
                </thead>
                <tbody>
			<tr>
				<th>beta</th>
				<th>172.25.200.32</th>
				<th>CT</th>
				<th>172.25.200.72</th>
				<th>
					<button type="submit" class="btn btn-success submit " data-step="3" onclick="javascript:window.location.href='#'">
				     		<span>编辑</span>
				    	</button>
					<button type="submit" class="btn btn-success submit " data-step="4" onclick="javascript:window.location.href='#'">
				     		<span>历史版本</span>
				    	</button>
					<button type="submit" class="btn btn-success submit " data-step="5" onclick="javascript:window.location.href='#'">
				     		<span>关联服务</span>
				    	</button>
					<button style='height:35px' class="btn btn-warning submit con adel">删除</button>
					<button style='height:35px' class="btn btn-primary btn-sm">下载线上版本</button>
				</th>
			</tr>

                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>


			  	<div class="form-group form-actions">
			  		<a class="btn btn-default" href="#" data-step="1">
			  			<span>返回</span>
			  		</a>
			  	</div>
			</div>


<!--第三页 -->
			<div class="step">
				<div class="form-group">
				    <label>Group</label>
				    <input type="text" class="form-control" value='beta' name="customer[first_name]" />
			  	</div>
				<div class="form-group">
				    <label>IP</label>
				    <select data-smart-select>
                        		<option value="1">172.25.200.32</option>
                    			</select>
			  	</div>

			  	<div class="form-group">
				    <label>测试主机</label>
				    <input type="text" class="form-control" name="customer[email]" />
			  	</div>
				<div class="form-group">
				    <label>region</label>
				    <select data-smart-select>
                        		<option value="1">CT</option>
                        		<option value="1">CNC</option>
                    			</select>
			  	</div>
			  	<div class="form-group">
				    <label>备注</label>
				    <input type="text" class="form-control" name="customer[email]" />
			  	</div>

			  	<div class="form-group form-actions">
			  		<a class="btn btn-default" href="#" data-step="2">
			  			<span>返回</span>
			  		</a>
		      		<button type="submit" class="btn btn-success" data-step="2">
		      			<span>提交</span>
		      		</button>
			  	</div>
			</div>


<!--第四页-->
			<div class="step">

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-body">
              <table name='{Table}'  id="example2" class="table table-bordered table-striped">
               <thead>
                <tr>
                  <th>版本</th>
                  <th>group</th>
                  <th>region</th>
                  <th>操作信息</th>
                  <th>操作人</th>
                  <th>操作时间</th>
                  <th>操作</th>
                </tr>
                </thead>
                <tbody>



			<tr>
			        <th>1</th>
			        <th>uletm</th>
			        <th>CT</th>
			        <th>azkaban.uletm.com.test update azkaban.uletm.com.test1</th>
				<th>lihao</th>
				<th>2016/9/6 上午10:07:46</th>
			        <th width="120">
			                <button  style='height:35px' class="btn btn-success submit con adel">下载</button>
			                <button  style='height:35px' class="btn btn-primary btn-sm">回滚</button>
			        </th>
			</tr>



                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->

                                <div class="form-group form-actions">
                                        <a class="btn btn-default" href="#" data-step="2">
                                                <span>返回</span>
                                        </a>
                                </div>
			</div>

<!--第五页-->
  <div class="step">
  <div >
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-body">
              <table  id="example3" class="table table-bordered table-striped">
               <thead>
                <tr>
                  <th>ServerName</th>
                  <th>操作</th>
                </tr>
                </thead>
                <tbody>
			<tr>
			        <th>www.beta.ule.com</th>
			        <th>
			                <button type="submit" class="btn btn-success submit achange">
			                        <span>编辑</span>
			                </button>
			                <button id=29 style='height:35px' class="btn btn-warning submit con adel">删除</button>
			        </th>
			</tr>
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
                                <div class="form-group form-actions">
                                        <a class="btn btn-default" href="#" data-step="2">
                                                <span>返回</span>
                                        </a>
                                </div>
  </div>

			</div>


		</form>
	</section>
</div>




                        <div style='z-index:9999' class='change'>
                            <form class='form-horizontal' method='get' action="#">
                                <fieldset>
                                     <div class='box-box'>
					<textarea id="text-content" style="height:500px;width:100%;overflow-y:visible;resize: none;">		</textarea>
                                        </div>
                                        <input style='display:none' name=File  value='{Table}'></input>
                                        <div class="form-group">
                                        <label class="col-md-4 control-label" for="cancel"></label>
                                                <div  class="col-md-6">
                                                  <button  id="cancelchange" style='background-color: #f4f4f4;color: #444;border-color: #f4f4f4;' class="btn btn-success cancel" onclick="return false">cancel</button>
                                                  <button  type='submit' id="changesubmit" class="btn btn-success">commit</button>
                                                </div>
                                        </div>
                                     </div>
                                </fieldset>
                            </form>
                        </div>



        </div>  
    </div>


    
</body>




<script data-turbolinks-track="true" src="application-851b8fea8f29120d8b765082481c5168.js"></script>
<script>
  $(function () {
    $('#example1,#example2,#example3').DataTable({
      "paging": false,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false
    });
  });

  $('#add').click(function(){
              $('.add').toggleClass('show');
  })

  $('#tablelist').click(function(){
                window.location.href="/admin/Table";
  })
  $('#canceladd').click(function(){
              $('.add').toggleClass('show');
  })

  $('.achange').click(function(){
              $($(this).parents().children('th')).each(function(i,e){
                                $($(".box-box input").get(i)).val($(this).text())
              });
              $('.change').toggleClass('show');
  })
  $('#cancelchange').click(function(){
              $('.change').toggleClass('show');
  })

  $('.adel').click(function(){
              var a=($(this).attr("id"));
              var b=($('#example1').attr("name"));
              $('.del').toggleClass('show');
                        $("#delsubmit").click(function(){
                                window.location.href="/admin/delserver_"+b+"?hostname="+a;
                        });
  })


  $('#cancelbad').click(function(){
              $('.bad').toggleClass('hide');
  })


  $('#canceldel').click(function(){
              $('.del').toggleClass('show');
  })

</script>

</html>

