<html>
<input type="file" name="emupload" id="fileupload"> </input> 

      <br/>

      <br/>   

    <br />

    <br />


    <button class="btn"  id="upload" onclick="uploadifyUpload()"><strong>运行</strong></button>


<script>
$('#fileupload').uploadify ({

        'swf'                : '/CoveragePlaform/media/uploadify-3.2/uploadify.swf',

        'uploader'             : '', 

        'cancelImage'         : '/CoveragePlaform/media/uploadify-3.2/uploadify-cancel.png',

        'buttonClass'         : 'btn',


        'removeCompleted'    : true,

        'fileTypeExts'               : '*.txt',

        'auto'                : false,

        'multi'                : true,

        'folder'            : 'UploadFile',


        'buttonText'        : 'em/ec文件上传',

        'simUploadLimit '    : 10,

        'queueSizeLimit'    : 25,

        'onUploadStart'     : function(file) {  },

        'onUploadSuccess'     : function (file, data, response) {

           // $("#instructions").before("<img src='/media/{{request.user.id}}/"+data+"' />")

        }

        

    });  

    

    

});



function uploadifyUpload (){

    $("#fileupload").uploadify('upload','*');

        //如果参数是.uploadify('upload'),就只能上传一个文件，后面如果加个* 号就是全部上传，这是3.1uploadify的API

    }

</script>
</html>
