<html>
  <head>
        <meta charset='utf-8'>
        <title>jboss资源列表</title>
        <script src="http://www.w3school.com.cn/jquery/jquery.js"></script>
	<script type="text/javascript">
		function go(args1,args2){
		    if(confirm("你确定要删除吗?")){
			$.ajax({
			type:'GET',
                        url:'/admin/deljboss',
                        data: {port:args1,ip:args2},
                        success:function(data){
			window.location.reload();
                        }

		    });
		}		
	
		}
       </script>
       <script type="text/javascript">
		function set(){
			var ip = window.location.href.split('=')[1];
                        //var ip=$('#ip').val(newip);
                        var port=$('#port').val();
                        var vip=$('#vip').val();
                        var vport=$('#vport').val();
                        var service=$('#service').val();
                        $.ajax({
                                type:'GET',
                                url:'/admin/newjboss',
                                data: {ip:ip,port:port,vip:vip,vport:vport,service:service},
                                success:function(data){
				$('#content').append('<a>'+data+'</a>');
                                window.location.reload();

                                }
                        });

	          }	
       </script>
  </head>
  <body>
	<a style="display:block;text-align: left;" href="http://172.24.147.240:8000/admin/jboss?env=prd">Prd上一层</a>
        <a style="display:block;text-align: left;" href="http://172.24.147.240:8000/admin/jboss?env=beta">Beta上一层</a><br/>
	<fieldset style="width:1000px;" color="#FF0000">
	<legend>新增记录</legend>
	{% csrf_token %}
	 <input id="ip" type="hidden" name="ipvalue" />
	 端口号:<input id="port" type="text" name="portvalue" />
	 vip:<input id="vip" type="text" name="vipvalue" />
	 虚端口:<input id="vport" type="text" name="vportvalue" />
	 项目名:<input id="service" type="text" name="servicevalue" />
	 <input id="send" type="button"  value="提交" onclick="set();" />
	</fieldset>
	<div id="content"></div>
	</br>
	<h2>Jboss资源列表</h2>
	<div style="color:#FF0000">注意"端口号"不可以重复</div>
        <table style="width:800px;" border="1" bordercolor="#7B68EE" cellspacing="0" cellpadding="0">
        <tr>
          <th>端口号</th><th>vip</th><th>虚端口</th><th>项目名</th><th>操作</th><th>操作</h>
        </tr>
        {% for item in result %}
        <tr>
          <td>{{item.port}}</td><td>{{item.vip}}</td><td>{{item.vport}}</td><td>{{item.service}}</td><td><input type="button" value="修改" onclick="window.location.href='/admin/modifyjboss?ip={{item.ip}}&port={{item.port}}&vip={{item.vip}}&vport={{item.vport}}&service={{item.service}}'" /></td><td><input type="button" value="删除" onclick="return go('{{item.port}}','{{item.ip}}');"  /></td>
        </tr>
        {% endfor %}
        </table>
  </body>
</html>
