<!DOCTYPE html>
<html style="height: 100%">
   <head>
       <meta charset="utf-8">
   </head>
   <body style="height: 100%; margin: 0;zoom:100%">
       <div id="container" style="height: 100%"></div>
       <script type="text/javascript" src="echarts/echarts-all-3.js"></script>
       <script type="text/javascript" src="echarts/dataTool.min.js"></script>
       <script type="text/javascript" src="echarts/china.js"></script>
       <script type="text/javascript" src="echarts/world.js"></script>
       <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ZUONbpqGBsYGXNIYHicvbAbM"></script>
       <script type="text/javascript" src="echarts/bmap.min.js"></script>
       <script type="text/javascript">
var dom = document.getElementById("container");
var myChart = echarts.init(dom);
var app = {};
option = null;
option = {
    title: {
        text: 'POSTMALL2'
    },
    tooltip: {
        trigger: 'axis'
    },
    legend: {
        data:['CONCURRENCY','USERIO','SYSTEMIO','ADMINSTRATIVE','OTHER','SCHEDULER','CONFIGURATION','CLUSTERS','APPLICATION','QUEUEING','COMMITS','LOAD']
    },
    grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
    },
    toolbox: {
        feature: {
            saveAsImage: {}
        }
    },
    xAxis: {
        type: 'category',
        boundaryGap: false,
	data: ['10:30:31', '10:31:41', '10:32:51', '10:34:01', '10:35:11', '10:36:21', '10:37:31', '10:38:41', '10:39:51', '10:41:01', '10:42:11', '10:43:21', '10:44:31', '10:45:41', '10:46:51', '10:48:02', '10:49:11', '10:50:21', '10:51:31', '10:52:41', '10:53:52', '10:55:01', '10:56:11', '10:57:21', '10:58:31', '10:59:41', '11:00:51', '11:02:01', '11:03:11', '11:04:21', '11:05:31', '11:06:41', '11:07:52', '11:09:01', '11:10:11', '11:11:21', '11:12:31', '11:13:41', '11:14:51', '11:16:01', '11:17:13', '11:18:21', '11:19:31', '11:20:41', '11:21:51', '11:23:01', '11:24:11', '11:25:21', '11:26:31', '11:27:41', '11:28:51', '11:30:01', '11:31:11', '11:32:21', '11:33:31', '11:34:41', '11:35:51', '11:37:01', '11:38:11', '11:39:21']
    },
    yAxis: {
        type: 'value'
    },
    series: [
        {
            name:'CONCURRENCY',
            type:'line',
            data:[1,0,2,5,0,0,1,0,1,3,0,0,0,1,0,0,0,2,1,0,0,3,0,1,2,0,0,0,1,2,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,2,0,0,0,0,2,0,1,0,0]
        },
        {
            name:'USERIO',
            type:'line',
            data:[13,8,18,12,5,15,16,10,7,16,76,69,76,78,95,93,9,10,9,9,55,79,69,10,8,4,62,19,17,11,14,14,60,8,6,11,13,13,7,13,10,9,8,3,13,10,12,9,9,5,12,5,11,24,40,5,6,5,4,7]
        },
        {
            name:'SYSTEMIO',
            type:'line',
            data:[0,0,0,0,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,3,0,0,0,0]
        },
        {
            name:'ADMINSTRATIVE',
            type:'line',
            data:[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]
        },
        {
            name:'OTHER',
            type:'line',
            data:[3,3,4,2,0,1,1,6,1,2,1,2,9,3,6,0,0,1,0,1,0,2,2,3,3,2,1,5,2,3,1,1,3,1,2,2,3,8,0,3,2,3,4,5,0,1,4,3,2,2,0,1,2,1,3,3,2,2,0,0]
        },
        {
            name:'SCHEDULER',
            type:'line',
            data:[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]
        },
        {
            name:'CONFIGURATION',
            type:'line',
            data:[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]
        },
        {
            name:'CLUSTERS',
            type:'line',
            data:[1,4,2,2,1,3,3,1,0,1,8,4,5,12,8,6,2,2,1,1,4,5,5,0,2,3,7,0,1,2,1,1,9,1,0,1,5,1,2,1,1,4,3,4,1,4,1,1,1,2,1,4,2,3,2,1,0,0,1,1]
        },
        {
            name:'APPLICATION',
            type:'line',
            data:[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]
        },
        {
            name:'QUEUEING',
            type:'line',
            data:[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]
        },
        {
            name:'COMMITS',
            type:'line',
            data:[17,9,21,10,9,43,12,6,7,2,9,6,15,7,14,3,4,10,5,13,12,7,9,9,6,18,6,18,10,6,12,12,15,8,3,7,9,3,2,9,2,5,8,10,6,3,6,4,10,6,6,4,6,7,4,4,0,7,3,5]
        },
        {
            name:'LOAD',
            type:'line',
            data:[2.21,3.3,3.31,2.42,2.46,3.75,2.07,2.42,2.54,3.21,3.67,2.81,3.2,3.6,3.38,3.76,2.69,2.95,2.5,2.72,2.74,3.19,3.63,2.5,2.9,2.35,3.28,2.92,2.61,2.62,2.71,2.86,3.63,2.91,2.6,2.47,1.91,2.36,2.2,2.88,1.89,1.62,2.12,2.51,2.48,2.07,1.83,1.62,3.2,2.8,2.5,2.01,2.61,2.3,2.15,2.07,1.84,1.35,1.47,1.57]
        }
    ]
};
;
if (option && typeof option === "object") {
    myChart.setOption(option, true);
}
       </script>
   </body>
</html>
