<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>添加</title>
</head>
<script src="//apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<script src="http://i0.beta.ule.com/tomshopping/j/2013/0821/jquery-1.8.3.min.js"></script>
<script charset="utf-8" src="http://172.24.147.240/uploadify/xheditor-1.1.13-zh-cn.min.js"></script>
<style>

        .show{
                border:1px #FF0000 solid;
        }

</style>

<script type="text/javascript">
                function check(){
                        if(document.getElementById("title").value == "" && document.getElementById("content").value == ""){
                                $('#title,#content').addClass('show');
                                return false;
                        }else{
                                $('#title,#content').removeClass('show');
                        };

                        if(document.getElementById("content").value == ""){
                                $('#content').addClass('show');
                                return false;
                        }else{
                                $('#content').removeClass('show');
                
                        };

                        if(document.getElementById("title").value == ""){
                                $('#title').toggleClass('show');
                                return false;
                        }else{
                                $('#title').removeClass('show');
                
                        };


                }
</script>
<body>
{% for list in  LIST %}
<form method = 'post' action='/yunwei/edit/?id={{list.id}}' onsubmit='return check()'>
{% csrf_token %}
    <p><input id=title value='{{list.title}}' size=50 name=title type=text></p>
    <p><textarea class=xheditor  id=content  rows="40" cols="100" name=content type=text>{{list.content}}</textarea></p>
    <input  type="submit" value = "提交" />
</form>
<br>
{%endfor%}
</body>
</html>
