{% extends "adminlte/base.html" %}
{% block content %}
<head>

	<link href="media/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>

	<link href="media/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>

	<link href="media/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

	<link href="media/css/style-metro.css" rel="stylesheet" type="text/css"/>

	<link href="media/css/style.css" rel="stylesheet" type="text/css"/>

	<link href="media/css/style-responsive.css" rel="stylesheet" type="text/css"/>

	<link href="media/css/default.css" rel="stylesheet" type="text/css" id="style_color"/>

	<link href="media/css/uniform.default.css" rel="stylesheet" type="text/css"/>

</head>

<body class="page-header-fixed">
	<div >

		<div class="navbar-inner">

			<div class="container-fluid">

				<!-- BEGIN PAGE HEADER-->   

				<div class="row-fluid">

					<div >

        					<div >
							<section class="content-header">
      								<h1>
        								<small></small>
      								</h1>
      								<ol class="breadcrumb">
        								<li><a href="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
        								<li><a href="#">其他管理</a></li>
        								<li><a href="#">其他</a></li>
        								<li class="active">Nginx</li>
      								</ol>
    							</section>
						</div>
				<!-- END PAGE HEADER-->

				<!-- BEGIN PAGE CONTENT-->

				<div class="row-fluid">

					<div class="span12">

						<!-- BEGIN SAMPLE FORM PORTLET-->   

						<div class="portlet box blue">

							<div class="portlet-title">

								<div class="caption"><i class="icon-reorder"></i>Nginx新增</div>

							</div>




							<div class="portlet-body form">


									 <div class="control-group">
    										<label class="control-label">操作</label>
												<div class="controls">
    										         <select id="action" class="span6 chosen" name=action data-placeholder="Choose a Category" tabindex="1">
    										                 <option selected="" value="addnginx">新增</option>
    										                 <option value="deletenginx">删除</option>
														     <option value="searchnginx">查询</option>
    										         </select>
    										     </div>
									 </div>


									<div class="control-group">

										<label class="control-label">upstream</label>

										<div class="controls">

											<input id="upstream" type="text" value="" name=upstream class="span6 m-wrap" data-trigger="hover" data-original-title="注：backend后端服务器"/>

											<span class="help-inline"></span>

										</div>

									</div>


									<div class="control-group">

										<label class="control-label">Server</label>

										<div class="controls">

											<input id="server" name=server type="text" class="span6 m-wrap tooltips" data-trigger="hover" data-original-title="注：格式是ip:port" />

										</div>

									</div>


									<div class="control-group">

										<label class="control-label">id</label>

										<div class="controls">

											<input id="delete_id" name=delete_id type="text" class="span6 m-wrap tooltips" data-trigger="hover" data-original-title="注：删除时有效" />

										</div>

									</div>

									<div class="form-actions">

										<button id="button_submit" type="button" name=domain class="btn blue ajax">Submit</button>
										<p style="color:red" id="action_label"></p>



									</div>


								<!-- END FORM-->       

							</div>

						</div>

						<!-- END SAMPLE FORM PORTLET-->

					</div>

				</div>

			</div>

			<!-- END PAGE CONTAINER-->

		</div>

	</div>

	</div>

	</div>


        <script src="media/js/jquery-1.10.1.min.js" type="text/javascript"></script>
        <script src="media/js/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
        <script src="media/js/app.js"></script>

	<script>
                jQuery(document).ready(function() {       
                   // initiate layout and plugins
			$('#button_submit').click(function(){
           		 var action = $('#action option:selected').val()
           		 var upstream = $('#upstream').val()
            		var server = $('#server').val()
            		var delete_id = $('#delete_id').val()
            		//alert(action+" "+" "+upstream+" "+server+" "+delete_id)
                        if(action == "addnginx"){
                                if("" == upstream || "" == server){
                                $('#action_label').text("backend后端服务器不可为空，server不可为空");
                                return ;
                                }
                        }
                        if(action == "deletenginx"){
                                if("" == delete_id){
                                $('#action_label').text("id不可以为空");
                                return ;
                                }
                        }
                        if(action == "searchnginx"){
                                if("" == upstream){
                                $('#action_label').text("upstream不能为空");
                                return ;
                                }else{
                                window.open("http://172.25.200.99:8080/upstream_conf?upstream="+upstream);
				return;
                                }
                        }
			if(confirm("您确定此操作吗?")){
                        $.ajax({
                        type:'GET',
                        url:'addnginx',
                        data:{action:action,upstream:upstream,server:server,delete_id:delete_id},
                        success:function(data){
                        //      $('#content').append('<a>'+data+'</a>');
                                //window.location.reload();
                                $('#action_label').text(data);
                        }
                        });
		     }
                })
                });
        </script>




</body>
{% endblock %}


