<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body >
{% csrf_token %}



<div>
	<table border="1" cellpadding="3" cellspacing="0" style="width: 60%;margin:auto">
                                <tr>
					<td>ID</td>
                                        <td>时间</td>
                                        <td>模块</td>
                                        <td>应用</td>
                                        <td>环境</td>
                                        <td>服务</td>
                                        <td>包名</td>
                                        <td>类型</td>
                                </tr>
                        {%for k,v in FILE.items%}
                                <tr>
					<td>{{forloop.counter}}</td>
                                        <td>{{v.time}}</td>
                                        <td>{{v.module}}</td>
                                        <td>{{v.app}}</td>
                                        <td>{{v.env}}</td>
                                        <td>{{v.server}}</td>
                                        <td>{{v.package}}</td>
                                        <td>{{v.fun}}</td>
                                </tr>
                        {%endfor%}
	</table>
</div>
</body>
</html>
