{% extends "adminlte/index.html" %}
{% block content %}
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>注册</title>
</head>

<style>
.hide{
        display:none;
	border-top: 2px solid #27a9e3;
        border-right: 3px solid #27a9e3;
        border-left: 3px solid #27a9e3;
	width:1094px;
}


.biankuang{
        border-top: 2px solid #27a9e3;
        border-right: 3px solid #27a9e3;
        border-left: 3px solid #27a9e3;
	border-bottom: 2px solid #27a9e3;
        width:1094px;
}


.show{
	display:block;
}


.pinglun:hover{
	cursor:pointer;
	border-top: 2px solid #27a9e3;
        border-right: 3px solid #27a9e3;
        border-left: 3px solid #27a9e3;
        border-bottom: 2px solid #27a9e3;
	text-decoration: none;
}

.pinglun{

	width:1100px;
	
}
</style>

</style>
<script src="//apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<body>
<div align=center>
    {% csrf_token %}
<div>
<h1>信息发布更新栏</h1>
	<table>
		<tr>
		<td><form   method="get"     action="/testapp/nameselblog">
		       <input size="10"  type="text" maxlength=2000  name=username>
		       <input type="submit" maxlength=6 value="作者搜索">
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		</form></td>
		<td><form   method="get"     action="/testapp/contentselblog">
		       <input size="50"  type="text" maxlength=2000  name=content>
		       <input type="submit" maxlength=6 value="内容搜索">
		       <input type=button value=添加 style="background:	#6496ED"  onclick="javascript:window.location.href='/testapp/addblog/'">
		</form></td>
		</tr>
	</table>
</div>
<div>
{% if not LIST %}
	<a style='color:red'>很抱歉，没有找到此人的项目</a>
{% endif %}
</div>
{% for list in   LIST %}
<div>
	<table class=pinglun>
		<tr>
		<td><h3 style="width:700px;">标题:  {{list.title}}
		{% for k,v in  COUNT.items%}
		{%ifequal k list.id%}
		<small id='liuyan{{list.id}}' style='color:red'>{{v}}</small>
		{%endifequal%}
		{%endfor%}
		</h3></td>
	   	<td><a style='color:blue;'>作者:{{list.username}}</a></td>
		<td><a style='color:blue;'>{{list.nowtime}}</a></td>
		{% ifequal list.username username %}
			<td><input type=submit value=删除 style="background:red;" onclick="javascript:window.location.href='/testapp/delblog/?del_id={{list.id}}&username={{list.username}}'"></td>
		{%endifequal%}
        <td>
		<form    method="get"     action="/testapp/contentblog">
               		<input type=button value=编辑 style="background:#32CD32	"  onclick="javascript:window.location.href='/testapp/contentblog/?id={{list.id}}&username={{list.username}}'">
        	</form>
	</td>
		</tr>
	</table>
	<table  class=hide>
		
		<tr>
		<td></td>
		<td></td>
	{% autoescape off %}
		<tr><td></td><td><pre>{{list.content}}</pre></td></tr>
	{% endautoescape %}
		</tr>

		<tr>
		<td><h3>评论:</h3>
		</td>
		<td id='tab{{forloop.counter}}'>

		{% for mlist in  message_list %}
			{% ifequal  mlist.blogid  list.id %}
				<tr>
				<td></td>
				<td><small>{{mlist.username}}: {{mlist.content}}</small>
				<input type=submit value=x style="margin:auto;height:20px;width:20px;background:red;" onclick="javascript:window.location.href='/testapp/delping/?del_id={{mlist.id}}&username={{list.username}}'"></td>
				</tr>
	        
			{% endifequal %}
		{% endfor %}
		</td>
		</tr>
		<tr>
			<td><form   method="post"     action="/testapp/message/">
                {% csrf_token %}
                        <td>
                                <input  name=content id=show{{forloop.counter}} type=text size="100" maxlength=500>
                        </td>
                        <td>
                                <input  name=listid id=button{{forloop.counter}} type="button" value=评论 style="background:#6496ED;" onclick="comment('{{forloop.counter}},{{list.id}},{{username}}')">
                        </td>
        		</form></td>
		</tr>
	</table>
</div>
{% endfor %}
</div>
</body>
<script type="text/javascript">
	$(document).ready(function(){
		$('.pinglun').click(function(){
            		$(this).parents().children('table.hide').toggleClass('show');
		})
		
	})

	var comment=function(item){
		var id=item.replace(/(.*),(.*),(.*)/,'$1')
		var listid=item.replace(/(.*),(.*),(.*)/,'$2')
		var username=item.replace(/(.*),(.*),(.*)/,'$3')
		var context=$("#show"+id).val()
		var liuyan = $('#liuyan'+listid).text()
		var liuyan = parseInt(liuyan)
		$.ajax({
			url:'/testapp/message/',
			data:{'content':context,'_':new Date().getTime(),'listid':listid,'csrfmiddlewaretoken':$('input[name=\'csrfmiddlewaretoken\']').val()},
			type:'POST',
			async:false,
			success:function(data){
			$('#liuyan'+listid).html(liuyan+1)
			$('#tab'+id).append('<tr><td></td><td><small>'+username+': '+context+'</small><input type="submit" value="x" style="margin:auto;height:20px;width:20px;background:red;"></td><td></td></tr>');
			},
			error:function(e,m,t){
			}
		
		
		})

	}
</script>
</html>
{% endblock %} 
