{% extends "adminlte/base.html" %}
{% block content %}
<head>
        <link href="media/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="media/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>
        <link href="media/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
        <link href="media/css/style-metro.css" rel="stylesheet" type="text/css"/>
        <link href="media/css/style.css" rel="stylesheet" type="text/css"/>
        <link href="media/css/style-responsive.css" rel="stylesheet" type="text/css"/>
        <link href="media/css/default.css" rel="stylesheet" type="text/css" id="style_color"/>
        <link href="media/css/uniform.default.css" rel="stylesheet" type="text/css"/>
</head>
<body class="page-header-fixed">
	<div >
		<div class="navbar-inner">
			<div class="container-fluid">
				<!-- BEGIN PAGE HEADER-->   
				<div class="row-fluid">
					<div >
        					<div >
							<section class="content-header">
      								<h1>
        								<small></small>
      								</h1>
      								<ol class="breadcrumb">
        								<li><a href="/yunwei"><i class="fa fa-dashboard"></i> Home</a></li>
        								<li class="active">申请访问权限</li>
      								</ol>
    							</section>
						</div>
				<!-- END PAGE HEADER-->
				<!-- BEGIN PAGE CONTENT-->
				<div class="row-fluid">
					<div class="span12">
						<!-- BEGIN SAMPLE FORM PORTLET-->   
						<div class="portlet box blue">
							<div class="portlet-title">
								<div class="caption"><i class="icon-reorder"></i>SSH访问权限申请表</div>
							</div>



							<div class="portlet-body form">
								<form  name=form1 class="form-horizontal">

							{% csrf_token %}


									<div class="control-group">
										<label class="control-label">申请人</label>
										<div class="controls">
											<input name=username type="text" class="span6 m-wrap tooltips" data-trigger="hover"/>                       
										</div>
									</div>

									<div class="control-group">
										<label class="control-label">角色</label>
										<div class="controls">
											<select class="span6 chosen" name=rule data-placeholder="Choose a Category" tabindex="1">
												<option value=""></option>
												<option value="baiwei">baiwei</option>
												<option value="audit">audit</option>
												<option value="qa">qa</option>
											</select>
										</div>
									</div>



									<div class="control-group">
										<label class="control-label">申请访问服务器</label>
										<div class="controls">
											<input name=group type="text" class="span6 m-wrap tooltips" data-trigger="hover" />
<!--
											<select class="span6 chosen" name=group data-placeholder="Choose a Category" tabindex="1">
												<option value=""></option>
												<option value="test">test</option>
												<option value="192.168.66.109">192.168.66.109</option>
-->

											</select>
										</div>
									</div>




									<div class="form-actions">
										<button type="button" class="btn domain">Submit</button>
										<button type="reset"  class="btn">Cancel</button>                            
										<button type="button" class="btn yellow deldomain">删除权限</button>
										<button type="button" class="btn pravitekey">获取私钥</button>
									</div>
								</form>
								<!-- END FORM-->       
							</div>
						</div>
						<!-- END SAMPLE FORM PORTLET-->
					</div>
				</div>
			</div>
			<!-- END PAGE CONTAINER-->
		</div>
	</div>
	</div>
	</div>
		<br>
		<B><font  size="3">执行结果:</font></B>
	<div style="width:100%;height:200px">
		<div style="margin-left:50px;margin-top:50px"><pre id=content style="width:50%;height:400px"></pre></div>
	</div>

</body>





<script src="//www.w3school.com.cn/jquery/jquery.js"></script>
<script type="text/javascript">


        $('.domain').click(function(){



                var USERNAME=form1.username.value
                var RULE=form1.rule.value
                var GROUP=form1.group.value


                $.ajax({
                        url:'sshkeyconfig',
                        data:{'_':new Date().getTime(),'csrfmiddlewaretoken':'{{ request.COOKIES.csrftoken }}','USERNAME':USERNAME,'RULE':RULE,'GROUP':GROUP},
                        type:'GET',
                        async:false,
                        success:function(data){
				var str='';
			
                                 for (var key in data.STATUS) {
					str += key+'&nbsp;'+data.STATUS[key] + "</br>";
                                 }	
				$('#content').html(str);
				$('.domain').addClass(data.color);
                        },
                        error:function(e,m,t){
                        }

                })

        })


        $('.pravitekey').click(function(){


                $.ajax({
                        url:'sshgetkey',
                        data:{'_':new Date().getTime(),'csrfmiddlewaretoken':'{{ request.COOKIES.csrftoken }}'},
                        type:'DELETE',
                        async:false,
 			beforeSend: function(xhr) {
        			xhr.setRequestHeader("X-CSRFToken", '{{ request.COOKIES.csrftoken }}');
    			},
                        success:function(data){
                                $('#content').html(data.KEY);
                                $('.pravitekey').addClass(data.color);
                        },
                        error:function(e,m,t){
                        }

                })

        })

        $('.deldomain').click(function(){

                var USERNAME=form1.username.value
                var RULE=form1.rule.value
                var GROUP=form1.group.value

                $.ajax({
                        url:'sshdelkey',
                        data:{'_':new Date().getTime(),'csrfmiddlewaretoken':'{{ request.COOKIES.csrftoken }}','USERNAME':USERNAME,'RULE':RULE,'GROUP':GROUP},
                        type:'GET',
                        async:false,
                        success:function(data){
                                var str='';

                                 for (var key in data.STATUS) {
                                        str += key+'&nbsp;'+data.STATUS[key] + "</br>";
                                 }
                                $('#content').html(str);
                                $('.deldomain').addClass(data.color);
                        },
                        error:function(e,m,t){
                        }

                })

        })


</script>

{% endblock %}
