
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>xhEditor初始化代码生成向导 for xhEditor</title>
<script type="text/javascript" src="/yunwei/xheditor-1.2.2/jquery/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="/yunwei/xheditor-1.2.2/xheditor-1.2.2.min.js"></script>
<script type="text/javascript" src="/yunwei/xheditor-1.2.2/xheditor_lang/zh-cn.js"></script>
<script type="text/javascript">
$(pageInit);
function pageInit()
{
	$('#editorMode').change(updateAll);
	$('#update').click(updateAll);
	$('#varSetup').find('input,select').focus(function(){$(this).select();}).keypress(function(ev){if(ev.which==13)updateAll();});
	$('#source').focus(function(){$(this).select();});
	$('#frmSetup').submit(function(){return false;}).bind('reset',function(){setTimeout(updateAll,10);});
	updateAll();
}
function toggleDisplay(id){$('#'+id).toggle(100);}
function updateAll()
{
	var arrVar=[],sVar,sJSInit,sInit,textareaID=$('input[name=id]').val();
	$('#varSetup fieldset').find('input,select').each(function(){
		var name=this.name,elem=$(this),value=elem.val();
		if(name!='id'&&value!=''&&!elem.find('option:selected').text().match(/(default)/i))
		{
			if(elem.attr('class')=='text')value="'"+value+"'";
			arrVar.push(name+':'+value);
		}
	});
	sVar=arrVar.join(',');
	var editor=$('textarea[name=preview]')[0].editor;
	if(editor)editor.getSource();
	$('textarea[name=preview]').attr('id',textareaID).xheditor(false);
	sJSInit="$('#"+textareaID+"').xheditor("+(sVar?'{'+sVar+'}':'')+');';
	if($('#editorMode').val()==1)
	{
		sInit=' class="xheditor'+(sVar?' {'+sVar+'}':'')+'"';
		sInit=sInit.replace(/(.+?xheditor)(.+?)tools:'(simple|mini)',?(.+?)/i,'$1-$3$2$4');
	}
	else sInit=sJSInit;
	$('link[id^=xheCSS]').remove();
	try{eval(sJSInit);}catch(e){}
	$('#source').val(sInit);
}
</script>
<style type="text/css">
body{
	font-size:12px;
	margin:0;padding:0 20px;
}
.top{border:1px solid #ccc;padding:10px;}
.section{padding:5px 30px;}
#varSetup fieldset{border:0 none;border-top:2px solid #999999;padding:5px;}
#varSetup fieldset legend{padding:0 5px;font-size:13px;}
#varSetup fieldset p{margin:5px;}
#varSetup fieldset label{display:inline-block;width:120px;}
#varSetup fieldset input,#varSetup fieldset select{width:300px;border-width:1px;border:1px #ABADB3 solid;padding:2px;}
#varSetup span{color:#666;}
#varSetup input[type=button],#varSetup input[type=reset]{border-width:1px;padding:3px 8px;}
#source{border-width:1px;border:1px #ABADB3 solid;padding:2px;}
#note{margin:20px 0;border:1px solid #ccc;padding:10px;color:#666;}
</style>
</head>
<body>
	<div id="varSetup" class="section">
		<form id="frmSetup" style='display:none'>
			<fieldset>
				<div id="group1">
					<p><label><acronym title="需要初始化的textarea ID">textareaID</acronym></label><input type="text" class="text" value="elem1" name="id"> <span>需要初始化为编辑器的textarea的id值</span></p>
					<p><label><acronym title="按钮自定义选择，留空默认full按钮组">tools</acronym></label><input type="text" class="text" value="" name="tools"> <span>工具栏组：full,mfull,simple,mini，或者自定义每个按钮，<a href="http://xheditor.com/manual/2#chapter2" target="_blank">点击查看完整按钮表</a></span></p>
					<p><label><acronym title="皮肤风格选择">skin</acronym></label><select name="skin" class="text"><option value="default" selected="selected">默认 (default)</option><option value="o2007blue">Office 2007 蓝色</option><option value="o2007silver">Office 2007 银色</option><option value="vista">Vista</option><option value="nostyle">NoStyle</option></select> <span>皮肤选择，留空默认default皮肤</span></p>
					<p><label><acronym title="编辑器宽度，留空默认读取textarea的宽度">width</acronym></label><input type="text" class="text" value="" name="width"> <span>编辑器宽度，留空读取textarea宽度</span></p>
					<p><label><acronym title="编辑器高度，留空默认读取textarea的高度">height</acronym></label><input type="text" class="text" value="" name="height"> <span>编辑器高度，留空读取textarea高度</span></p>
					<p><label><acronym title="悬停自动执行延迟的时间">hoverExecDelay</acronym></label><input type="text" value="" name="hoverExecDelay"> <span>悬停自动执行延迟的时间，数值(单位毫秒)，默认为100，设置为-1关闭此功能</span></p>
					<p><label><acronym title="阴影的深度(按钮面板和模式窗口的背景阴影)">layerShadow</acronym></label><input type="text" value="" name="layerShadow"> <span>按钮面板和模式窗口的背景阴影，参数：0(不显示),大于0(显示阴影并设置阴影深度)</span></p>
					<p><label><acronym title="点击任意位置取消按钮面板功能">clickCancelDialog</acronym></label><select name="clickCancelDialog"><option value="" selected="selected">开启 (default)</option><option value="false">关闭</option></select> <span>点击任意位置取消按钮面板功能</span></p>
					<p><label><acronym title="强制P标签">forcePtag</acronym></label><select name="forcePtag"><option value="" selected="selected">强制P标签 (default)</option><option value="false">使用BR标签</option></select> <span>强制P标签</span></p>
					<p><label><acronym title="禁用编辑区的右键菜单">disableContextmenu</acronym></label><select name="disableContextmenu"><option value="true">禁用</option><option value="false" selected="selected">不禁用 (default)</option></select> <span>禁用编辑区的右键菜单</span></p>
					<p><label><acronym title="编辑器背景">background</acronym></label><input type="text" class="text" value="" name="background"> <span>设置编辑器背景，格式同CSS同名参数一致。建议直接设置textarea的css背景</span></p>
					<p><label><acronym title="编辑器JS所在的根路径">editorRoot</acronym></label><input type="text" class="text" value="" name="editorRoot"> <span>编辑器JS文件所在的根路径，用在某些特殊情况下定位编辑器的根路径</span></p>
					<p><label><acronym title="是否清理粘贴内容">cleanPaste</acronym></label><select name="cleanPaste"><option value="0">不清理</option><option value="1" selected="selected">简单清理Word (default)</option><option value="2">深入清理Word</option><option value="3">强制转文本</option></select> <span>是否清理粘贴HTML代码，清理Word或强制转文本</span></p>
					<p><label><acronym title="提交按钮的ID">submitID</acronym></label><input type="text" class="text" value="" name="submitID"> <span>非标准submit提交时指定提交按钮的ID值，以触发编辑值同步</span></p>
				</div>
			</fieldset>
		</form>
	</div>



	{% for list in  LIST %}
	<form method = 'post' action='/yunwei/edit/?id={{list.id}}' onsubmit='return check()'>
	{% csrf_token %}
	    <p><input id=title value='{{list.title}}' size=50 name=title type=text></p>
	    <p>
	    	<textarea id=content  rows="40" cols="100" name=preview type=text>{{list.content}}</textarea>
	    </p>
	    <input  type="submit" value = "提交" />
	</form>
	<br>
	{%endfor%}

</body>



<script type="text/javascript">
                function check(){
                        if(document.getElementById("title").value == "" && document.getElementById("content").value == ""){
                                $('#title,#content').addClass('show');
                                return false;
                        }else{
                                $('#title,#content').removeClass('show');
                        };

                        if(document.getElementById("content").value == ""){
                                $('#content').addClass('show');
                                return false;
                        }else{
                                $('#content').removeClass('show');

                        };

                        if(document.getElementById("title").value == ""){
                                $('#title').toggleClass('show');
                                return false;
                        }else{
                                $('#title').removeClass('show');

                        };


                }
</script>
</html>

