
<!DOCTYPE html>
<html>
<head>
<title>jBox by Stephan Wagner</title>


<link rel="icon" type="image/png" href="http://stephanwagner.me//img/favicon.png">

<link rel="stylesheet" href="http://stephanwagner.me//css/normalize.css">
<link rel="stylesheet" href="http://stephanwagner.me//css/shared.css">
<link rel="stylesheet" href="http://stephanwagner.me/libraries/jBox-0.3.2/Source/jBox.css">
<link rel="stylesheet" href="http://stephanwagner.me/libraries/jBox-0.3.2/Source/themes/TooltipBorder.css">
<link rel="stylesheet" href="http://stephanwagner.me/css/icons.css">
<link rel="stylesheet" href="http://stephanwagner.me/css/default.css">


<script>var global={jBoxVersion:'0.3.2'};</script>
<script src="//code.jquery.com/jquery-2.2.2.min.js"></script>
<script src="http://stephanwagner.me//js/init.js"></script>
<script src="http://stephanwagner.me//js/default.js"></script>

<div class="demo-button demo-button-click noselect" id="demoM4" data-confirm onclick="new jBox('Notice', {content: 'Yay! You clicked it!', color: 'green', attributes: {y: 'bottom'}})">Click me!</div>




<div class="clearfix" id="jBox-features">
	
<div class="feature-container">
<div class="feature-icon icon-ok"></div>
<div class="feature-title">Lightweight</div>
<div class="feature-description">Only 19 KB loaded in total when minified and gzipped</div>
</div>

<div class="feature-container">
<div class="feature-icon icon-ok"></div>
<div class="feature-title">Extendable</div>
<div class="feature-description">Easily create your own jBox plugins with custom behaviors</div>
</div>

<div class="feature-container">
<div class="feature-icon icon-x"></div>
<div class="feature-title">Responsive</div>
<div class="feature-description">Responsive support is in the making...</div>
</div>

</div>

<a href="https://github.com/StephanWagner/jBox/releases" class="button jBox-download-button">Download @ GitHub</a>

<div id="disqus_thread"></div>
<script>
var disqus_shortname = 'stephanwagner';
var disqus_url = 'http://stephanwagner.me/jBox';
var disqus_identifier = 'jBox';
(function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
</script>
</div></main>

<footer>
<div class="container">
	<a href="//github.com/StephanWagner" class="footer-icon icon-github"></a>
	<a href="//twitter.com/StephanWagnerMe" class="footer-icon icon-twitter"></a>
	<span class="footer-text">All code is <a href="http://opensource.org/licenses/MIT">MIT <span>License</span></a></span>
		<div class="button donate-button" onclick="toggleDonateModal()">Donate</div>
	</div>
</footer>

<script src="http://stephanwagner.me/libraries/jBox-0.3.2/Source/jBox.min.js"></script>
<script src="http://stephanwagner.me/js/default.js"></script>
<script src="http://stephanwagner.me/js/JBox/index.js"></script>
</body>
</html>
