



.popup {
    position: fixed;
    z-index: -999;
    background: rgba(0, 0, 0, 0.58);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.popup > form {
    background: white;
    margin: 45px auto;
    width: 580px;
    padding: 30px;
    border-radius: 3px;
    box-shadow: 0 0 53px rgba(0, 0, 0, 0.15);
}

