<html>
    <head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8">
    </head>
    <body>
        <form method="GET" action="/admin/newaddjboss">
	    <input type="hidden" name="ip" value="{{List.ip}}" />
	    vip:<input type="text" name="vip" value="{{List.vip}}" /></br>
	    虚端口:<input type="text" name="vport" value="{{List.vport}}" /></br>
	    项目名:<input type="text" name="service" value="{{List.service}}" /></br>
	    <input type="hidden" name="port" value="{{List.port}}" />
	    <input type="submit" value="提交" />
	</form>
    </body>
</html>
