{% extends "adminlte/base.html" %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  	<link data-turbolinks-track="true" href="application-b9abcf044a0bc3e705568d103eddd00e.css" media="all" rel="stylesheet" />

</head>


<style>
.con {
        height:30px;
        background:#dd4b39;
        border-color: #d73925;
}
.change  {
    position: fixed;
    background: rgba(0, 0, 0, 0.58);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display:none;
}

.change > form {
    background: white;
    margin: 45px auto;
    width: 580px;
    padding: 30px;
    border-radius: 3px;
    box-shadow: 0 0 53px rgba(0, 0, 0, 0.15);
}
</style>


<body id="wizard">
	
          

<div>
	<div class="header">
		<div class="sidebar-toggler visible-xs">
			<i class="ion-navicon"></i>
		</div>

		<div class="steps clearfix">
			<div class="step active">
				搜   索	
				<span></span>
			</div>
			<div class="step">
				主机列表	
				<span></span>
			</div>
			<div class="step">
				基础信息	
				<span></span>
			</div>
			<div class="step">
				历史记录	
				<span></span>
			</div>

			<div class="step">
				域名列表
				<span></span>
			</div>
		</div>
	</div>
{% csrf_token %}
	<section class="form-wizard">

		<form id="new-customer"  role="form" method='GET'  action='apacheblurCALLBACK'>
			<div class="step active animated fadeInRightStep">
				<div >
				    <label></label>
				    <input type="text" name=content class="form-control" name="customer[first_name]" />
			  	</div>
			  	<div class="form-group form-actions">
		      		<button type="submit"   class="btn btn-default">
		      			<span>模糊查询</span>
		      		</button>
			  	</div>
			</div>
		</form>
<!--第二页-->
			<div class="step">


  <div >
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-body">
              <table  id="example1">
               <thead> 
                </thead>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>


			  	<div class="form-group form-actions">
			  		<a class="btn btn-default" href="apacheblur">
			  			<span>返回</span>
			  		</a>
			  	</div>
			</div>


<!--第三页 -->
			<div class="step">
			</div>


<!--第四页-->
			<div class="step">

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-body">
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->

                                <div class="form-group form-actions">
                                        <a class="btn btn-default" href="#" data-step="2">
                                                <span>返回</span>
                                        </a>
                                </div>
			</div>

<!--第五页-->
  <div class="step">
  <div >
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-body">
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
                                <div class="form-group form-actions">
                                        <a class="btn btn-default" href="#" data-step="2">
                                                <span>返回</span>
                                        </a>
                                </div>
  </div>

			</div>


	</section>
</div>




                        <div style='z-index:9999' class='change'>
                            <form class='form-horizontal' method='get' action="#">
                                <fieldset>
                                     <div class='box-box'>
					<textarea id="text-content" style="height:500px;width:100%;overflow-y:visible;resize: none;">		</textarea>
                                        </div>
                                        <input style='display:none' name=File  value='{Table}'></input>
                                        <div class="form-group">
                                        <label class="col-md-4 control-label" for="cancel"></label>
                                                <div  class="col-md-6">
                                                  <button  id="cancelchange" style='background-color: #f4f4f4;color: #444;border-color: #f4f4f4;' class="btn btn-success cancel" onclick="return false">cancel</button>
                                                  <button  type='submit' id="changesubmit" class="btn btn-success">commit</button>
                                                </div>
                                        </div>
                                     </div>
                                </fieldset>
                            </form>
                        </div>



        </div>  
    </div>


    
</body>





</html>

{% endblock %}
