
<!doctype html>
<html lang="en">
<head>
  <script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
  <script type="text/javascript" src="js/highcharts.js"></script>
  <script type="text/javascript" src="js/exporting.js"></script>
  <script>
    //左侧Javascript代码
  </script>
</head>
<body>
  <div id="container" style="min-width:700px;height:400px"></div>
</body>
<script>
$(function () {
    
    var colors = Highcharts.getOptions().colors,
        categories = [{alldays}],
        name = 'Browser brands',
	data = {data}
//        data = [{
//                y: 10,
//                color: colors[0],
//                drilldown: {
//                    name: 'MSIE versions',
//                    categories: ['tomcat', 'jboss', 'timer', '其他'],
//                    data: [10, 7, 33, 2],
//                    color: colors[1]
//                }
//            }, {
//                y: 100,
//                color: colors[0],
//                drilldown: {
//                    name: 'Firefox versions',
//                    categories: ['tomcat', 'jboss', 'timer', '其他'],
//                    data: [0, 83, 58, 12],
//                    color: colors[1]
//                }
//            }];
//
    function setChart(name, categories, data, color) {
	chart.xAxis[0].setCategories(categories, false);
	chart.series[0].remove(false);
	chart.addSeries({
		name: name,
		data: data,
		color: color || 'white'
	}, false);
	chart.redraw();
    }

    var chart = $('#container').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: '生产发布统计表'
        },
        subtitle: {
            text: 'Detailed information on production environment classification'
        },
        xAxis: {
            categories: categories
        },
        yAxis: {
            title: {
                text: 'Proportion of total release'
            }
        },
        plotOptions: {
            column: {
                cursor: 'pointer',
                point: {
                    events: {
                        click: function() {
                            var drilldown = this.drilldown;
                            if (drilldown) { // drill down
                                setChart(drilldown.name, drilldown.categories, drilldown.data, drilldown.color);
                            } else { // restore
                                setChart(name, categories, data);
                            }
                        }
                    }
                },
                dataLabels: {
                    enabled: true,
                    color: colors[0],
                    style: {
                        fontWeight: 'bold'
                    },
                    formatter: function() {
                        return this.y;
                    }
                }
            }
        },
        tooltip: {
            formatter: function() {
                var point = this.point,
                    s = this.x +':<b>'+ this.y +'  Share ratio</b><br/>';
                if (point.drilldown) {
                    s += 'Click to view '+ point.category +' type';
                } else {
                    s += 'Click to return to browser brands';
                }
                return s;
            }
        },
        series: [{
            name: name,
            data: data,
            color: 'white'
        }],
        exporting: {
            enabled: false
        }
    })
    .highcharts(); // return chart
});				
</script>
</html>
