<body>
 <link href="css/pieChart.css" rel="stylesheet" type="text/css"/>

<script src="js/jquery.min.js"></script>

<script type="text/javascript" src="js/pieChart.js"></script>
	<div id="container">
	
		<canvas id="chart" width="500" height="400"></canvas>
		<table id="chartData">
			<tr>
				<th>数据库</th><th>百分比</th>
			</tr>
			<tr style="color:#0DA068">
				<td>postmall1</td><td id=dbtime_postmall1>{{ITEM.PCT_DBCPU_FOR_DBTIME.postmall1}}</td>
			</tr>
			<tr style="color:#194E9C">
				<td>postmall2</td><td id=dbtime_postmall2>{{ITEM.PCT_DBCPU_FOR_DBTIME.postmall2}}</td>
			</tr>
			<tr style="color:#ED9C13">
				<td>ulecard1</td><td id=dbtime_ulecard1>{{ITEM.PCT_DBCPU_FOR_DBTIME.ulecard1}}</td>
			</tr>
			<tr style="color:#ED5713">
				<td>ulecard2</td><td id=dbtime_ulecard2>{{ITEM.PCT_DBCPU_FOR_DBTIME.ulecard2}}</td>
			</tr>
			<tr style="color:#057249">
				<td >dwdb1</td><td id=dbtime_dwdb1>{{ITEM.PCT_DBCPU_FOR_DBTIME.rac6db1}}</td>
			</tr>
			<tr style="color:#FF0000">
				<td >dwdb2</td><td id=dbtime_dwdb2>{{ITEM.PCT_DBCPU_FOR_DBTIME.rac6db2}}</td>
			</tr>
		</table>
	</div>
</body>
